<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<ol>
		<li>
			<a href="./q1.html">
				Site down, your name servers are down
			</a>
		</li>


		<li>
			<a href="./q2.html">
				Why is my site coming from California?!
			</a>
		</li>


		<li>
			<a href="./q3.html">
				Workers not applied
			</a>
		</li>


		<li>
			<a href="./q4.html">
				Cloudflare Nameservers
			</a>
		</li>


		<li>
			<a href="./q5.html">
				Content not Being Cached
			</a>
		</li>


		<li>
			<a href="./q6.html">
				Redirection based on user agent
			</a>
		</li>
	</ol>
</body>
</html>