<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>1. Site down, your name servers are down</h1>
	<p>Good afternoon,</p>
	<p>After checking that our nameservers are working properly, please try the following steps:</p>
	<ol>
		<li>Restart your computer.</li>
		<li>Restart your router, waiting 10 seconds before turning it on again.</li>
	</ol>
	<p>If none of these actions solve your issue, feel free to contact me again.</p>
	<p>Thought process: I checked the dashboard and everything was ok and up-to-date with the configuration and the nameservers. Not having any logs associated with this question, it is most probably either a web browser issue, network connectivity issue/slowness leading to a timeout of the DNS query, or the user's computer may need to be restarted.</p>
</body>
</html>