<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>2. Why is my site coming from California?!</h1>
	<p>Good afternoon,</p>
	<p>It is right, because your website is hosted on Cloudflare's servers, which is located in California. Cloudflare's Content Delivery Network (CDN) has two routing options: DNS unicast, or Anycast. You can read more about it on <a href="https://developers.cloudflare.com/reference-architecture/architectures/cdn/">CDN Reference Architecture</a>. For further clarification, feel free to contact us.</p>
	<p>Thought process: I researched that Cloudflare has datacenters in California, France, and Russia (among other locations). Not having any other details (traceroute outputs or pcap, for example), I assumed the website data is hosted on servers in California. I thought it would be interesting to reference to the CDN architecture documentation for a better understanding from the customer side.</p>
</body>
</html>