<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>3. Workers not applied</h1>
	<p>Good afternoon,</p>
	<p>With the debugger, you can access your website via localhost and port number. Please confirm your URL is correct and the necessary bindings are set to be able to query the site. If you need further help, please contact support again.</p>
	<p>Thought process: I think there was an issue with either an inexistent or incorrect URL, or the URL may not be correctly bound. It could also be a routing issue, but this and other options need more details/proof data.</p>
</body>
</html>