<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>5. Content not Being Cached</h1>
	<p>Good afternoon,</p>
	<p>Under the HTTP response on the 6th line, referring to the Cache-Control field, I verified that the cache control on the origin web server is customized to not store any cache ("no-cache"). For more information, please check this documentation: <a href="https://developers.cloudflare.com/cache/concepts/cache-control/">Origin Cache Control</a> or contact me in case you need further clarification.</p>
	<p>Thought process: I assumed that the customer who asked this question is or belongs to the organization that hosts roskolniv.us. Although the answer in this case is straightforward, the customer may not have noticed this detail.</p>
</body>
</html>