<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>6. Redirection based on user agent</h1>
	<p>Good afternoon,</p>
	<p>It is possible to redirect visitors having a specific user agent as MSIE 8.0 with Cloudflare's new Rules. You can set up a rule with a HTTP field for this user agent (see <a href="https://developers.cloudflare.com/ruleset-engine/rules-language/fields/reference/http.user_agent/">http.user_agent</a>). Other field options are available here: <a href="https://developers.cloudflare.com/ruleset-engine/rules-language/fields/reference/">Fields reference</a>. You can filter them by "Headers".</p>

	<p>Thought process: It's explained in the answer itself. From all the options I considered, this seemed to me to be the simplest one. Additionally, it is possible to customize the cache for this case.</p>
</body>
</html>